@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Welcome to Analytics</h1>
<div>
    <p><label>Username:</label><input style="margin-left: 7px;" type="text" id="txtUsername" /></p>
    <p><label>Password:</label><input style="margin-left: 10px;" id="textPassword" type="password" /></p>
    <a class="btnAction" id="btnLogin" href="javascript:;">LogIn</a>
</div>
